* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* navigation */

.navbar {
  color: #ffffff;
  padding: 20px;
  margin: auto;
}

.navbar > h1 {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

/* body */

.uv-box {
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}

#dayCard {
  padding: 5px;
  margin-right: 10px;
}

.icon {
  border-radius: 5px;
}