* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* navigation */

.navbar {
  color: #ffffff;
  padding: 20px;
  margin: auto;
}

.navbar > h1 {
  font-size: 30px;
  margin: auto;
  text-align: center;
}

/* body */

.uvBox {
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}

.icon {
  border-radius: 5px;
}

#currentCity {
  margin-top: 10px;
  margin-bottom: 10px;
  border: #e6e6e6 solid 1px;
  border-radius: 5px;
  padding: 10px;
}

/* day car */

.card {
  border: none;
  padding: 5px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
}

#fiveDayForecast img {
  height: 50px;
  width: 40%;
}

#fiveDayForecast img {
  height: 50px;
  width: 40%;
}